
Debug/DistanceTest_HC-SR04.ino.elf
__vm/.DistanceNEOPixel.vsarduino.h
__vm/Compile.vmps.xml
__vm/Configuration.Debug.vmps.xml
.vs/ESP_DistanceNEOPixel/v14/.suo
__vm/.DistanceTest_HC-SR04.vsarduino.h
Release/DistanceTest_HC-SR04.cpp.d
ESP_DistanceNEOPixel.sln
__vm/Upload.vmps.xml
__vm/Configuration.Release.vmps.xml
Debug/board.buildinfo
Debug/core.a
Debug/DistanceTest_HC-SR04.bin
Debug/DistanceTest_HC-SR04.cpp.d
Debug/DistanceTest_HC-SR04.cpp.o
Debug/DistanceTest_HC-SR04.elf
Debug/DistanceTest_HC-SR04.ino.bin
DistanceTest_HC-SR04.vcxproj
DistanceTest_HC-SR04.vcxproj.filters
Release/board.buildinfo
Release/core.a
Release/DistanceTest_HC-SR04.bin
Release/DistanceTest_HC-SR04.cpp.o
Release/DistanceTest_HC-SR04.elf
Release/DistanceTest_HC-SR04.ino.bin
Release/DistanceTest_HC-SR04.ino.elf
Release/ESP_DistanceNEOPixel.bin
Release/ESP_DistanceNEOPixel.cpp.d
Release/ESP_DistanceNEOPixel.cpp.o
Release/ESP_DistanceNEOPixel.elf
Release/ESP_DistanceNEOPixel.ino.bin
Release/ESP_DistanceNEOPixel.ino.elf
